<div class="container content">
  <p class="text-center text-purple"><strong>Hi, <%= current_user.first_name %>!</strong> Tell us a little bit about your company to get started.</p>
  
  <br>

  <%= render 'form', company: @company %>
    
</div>

