$white:                           #ffffff;
$black:                           #000000;
$dark:                            #28384d;
$medium:                          #767676;
$light:                           #9a9da4;
$primary:                         #72e999;
$blue:                            #3ca8ff;
$yellow:                          #ffbe5d;
$purple:                          #ad97ef;
$grey:                            #e8e8e8;
$border:                          #dce0e0;
$background:                      #f9f9fa;